<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>7607149429-i13mqhst945ctvetu0vjrek5euajn8pe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7607149429-i13mqhst945ctvetu0vjrek5euajn8pe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>7607149429-50aav3cn9vlplcc1ipct56n8btl5ta7j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAhd2ltb-FqjwFGT4AjiR6DJixf3ZVlmGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>7607149429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatbot-bffbf</string>
	<key>STORAGE_BUCKET</key>
	<string>chatbot-bffbf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7607149429:ios:ee5ea6c644d7031371a93c</string>
</dict>
</plist>